
    html, body {
        height: 100%;
        margin: 0px;
		margin:0 auto;
}
    }
    .container, #outer_container {
        height: 100%;
    }
.outer_container {
    min-height: 100%;
}
.container {
    height: 100%;
}

#adbannercontainer {
    background-color: white;
	    padding: 10px;
}


table#headdiv {
    height: 100%;
}	
#sitelogo {
    float: left;
    margin: 4px;
    height: 120px;
    margin-top: 10px;
}

.head_container, .container {
    margin-left: auto;
    margin-right: auto;
}

.container_widht {
      	width: 100%;
}


@media (min-width:1400px) { 
           /* hi-res laptops and desktops */ 
        //   .container_widht {
         //	max-width: 1400px;
           //}
}

.head_container {

    background: #285ea6;
    height: 100%;
}


.center {
    margin-left: auto;
    margin-right: auto; 
    min-widht: 1200px;

}

.container {
    background: white;
}

.outer_container {		
	/*	background-image: url(../../scores/images/tausta.jpg);   */
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
		   
}



#header {
    height: 100px;
    text-align: center;
    color: white;
    background: #285EA6;
}


.logininfo {
    color: white;
    font-weight: bold;
}


a#loginMyInfo {
    padding-right: 30px;
}



#submenucontainer {
    background-color: #285ea6;
}

#mainmenu {
    height: 42px;
    background-color: #383838;
    background-image: url(http://www.rolffarit.com/kisakone/images/menubar.png);
}

.submenu li {
    margin-left: 16px;
    font-size: 11pt;
    color: whitesmoke;
	font-weight: 600;
}

#mainmenu li {
    float: left;
    min-width: 120px;
    padding-top: 6px;
    text-align: center;
}

.submenu a {
    text-decoration: none;
    color: #FFFFFF;
	font-weight: normal;
}

#mainmenu li {
float:left;
white-space: nowrap;
}
#mainmenu a {
display:block;
text-align:center;
width:150px; /* fixed width */
text-decoration:none; 
}

#login_form a {
    color: #efe;
    text-decoration: none;
}
a#register_link, a#login_link, a#logout, a#loginMyInfo {
    text-decoration: none;
}

.red_class {
	color:#FF4900;
}

#login_form {
    position: absolute;
    width: 230px;
	padding: 5px;
    height: 200px;
    padding: 4px;
    border-radius: 5px;
    background-color: #285EA6;
    border-width: 2px;
    border-style: solid;
    border-color: #efe;
    color: white;
    font-size: 11pt;
}

.submenu1, .submenu2 {
    list-style-image: url(http://www.rolffarit.com/kisakone/images/nuoli.png);
}

h2 {
    background-color: #585858;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#3d3d3d));
    background-image: -webkit-linear-gradient(top, #585858, #3d3d3d);
    font-weight: 400;
    margin-bottom: 1em;
    padding: 3px 0px 3px 16px;
    font-size: 1.2em;
    color: #fff;
}

h3 {
   padding: 2px 0px 2px 16px;
    width: 500px;
    color: #FFFFFF !important;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#585858+36,ffffff+100&1+36,0+100 */
background: -moz-linear-gradient(left,  rgba(88,88,88,1) 36%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(88,88,88,1) 36%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(88,88,88,1) 36%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#585858', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */



}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', arial;
}




#mainmenu li.selected {
    background: url(../images/menu_active.png) 0 0 no-repeat;
    margin: 5px 0px 0px;
    height: 27px;
    line-height: 13px;
	padding-left: 13px;
    padding-right: 20px;

}

#content {
    height: 500px;
}


/*
a.selected_a {

    padding: 4px 30px 0px 20px;
    background: url(../images/menu_active_r.png) 100% 0 no-repeat;
}

*/

.loginbox {
    margin: 5px;
    padding-left: 5px;
}

#mainmenu a {
    display: block;
    color: white;
    height: 32px;
    padding-top: 3px;
    font-family: oswald;
}

#sitename {
    margin: 0px;
    font-family: oswald;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    padding-top: 8px;
    text-shadow: rgba(0,0,0,0.4) 0 2px 2px;
}

#pagename {
    font-family: oswald;
    font-size: 20px;
    margin: 4px;
}

a {
    text-decoration: none;
}

.hot_event_row a {
    color: blue;
}

.table_hcp_events_hcp {
    background: #ccdae5;
    text-align: center;
}

tr.border_bottom td {
  border-bottom:1pt solid black;
}